<img src="static/img/limpiandotodo.jpeg" alt="" data-aos="fade-in" />

<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h2 data-aos="fade-up" data-aos-delay="100">
        Bienvenido a Limpiando Todo
      </h2>
      <p data-aos="fade-up" data-aos-delay="200">
        Tu Socio en la Limpieza Integral para Hoteles, Departamentos, Casas y
        Restaurantes
      </p>
    </div>

    <div class="col-lg-5">
      <div id="whatsapp-button">
        <input
          class="bg-light text-success"
          type="text"
          id="whatsapp-message"
          placeholder="Escribe tu mensaje"
        />
        <button id="send-whatsapp" class="btn btn-success">
          Enviar a WhatsApp
        </button>
      </div>
    </div>
  </div>
</div>
