<!--  Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Precios</h2>
  <p>
    Ten en cuenta que los precios pueden variar según la ubicación, el tamaño de
    los espacios y otros factores.
  </p>
</div>
<!-- End Section Title -->

<div class="container" data-aos="zoom-in" data-aos-delay="100">
  <div class="row g-4">
    <div class="col-lg-4">
      <div class="pricing-item">
        <h2 class="fw-bold">Plan de Limpieza Residencial:</h2>
        <div class="icon">
          <i class="bi bi-box"></i>
        </div>
        <h4><span> / desde</span><sup>$</sup>50<span> / por sesión</span></h4>
        <ul>
          <li class="h5 fw-bold">Limpieza Básica:</li>
          <ul>
            <li>Limpieza superficial de todas las áreas.</li>
            <li>Aspirado y trapeado de pisos.</li>
            <li>Limpieza de baños y cocinas.</li>
            <li>Precio aproximado: Desde $50 - $80 por sesión.</li>
          </ul>
          <li class="h5 fw-bold">Limpieza Profunda:</li>
          <ul>
            <li>Limpieza exhaustiva de todas las superficies.</li>
            <li>Limpieza de electrodomésticos.</li>
            <li>Desinfección de baños y cocinas.</li>
            <li>Precio aproximado: Desde $80 - $120 por sesión.</li>
          </ul>
          <li class="h5 fw-bold">Limpieza Personalizada:</li>
          <ul>
            <li>Plan adaptado a las necesidades específicas del cliente.</li>
            <li>Servicios adicionales según solicitud.</li>
            <li>Precio variable según los detalles del servicio.</li>
          </ul>
        </ul>
        <div class="text-center">
          <a href="#" class="buy-btn">Contrata Ahora</a>
        </div>
      </div>
    </div>
    <!-- End Pricing Item -->

    <div class="col-lg-4">
      <div class="pricing-item featured">
        <h2 class="fw-bold">Plan de Limpieza Comercial</h2>
        <div class="icon">
          <i class="bi bi-rocket"></i>
        </div>

        <h4>
          <span> / desde </span><sup>$</sup>100<span> / por semana </span>
        </h4>
        <ul>
          <li class="h5 fw-bold">Mantenimiento Regular:</li>
          <ul>
            <li>Limpieza diaria o semanal de áreas comunes.</li>
            <li>Aspirado, trapeado y desinfección.</li>
            <li>Reposición de suministros básicos.</li>
            <li>Precio aproximado: Desde $100 - $200 por semana.</li>
          </ul>
          <li class="h5 fw-bold">Limpieza Profunda:</li>
          <ul>
            <li>Limpieza exhaustiva de espacios comerciales.</li>
            <li>Limpieza de ventanas y áreas de alto tráfico.</li>
            <li>Desinfección y limpieza de equipos.</li>
            <li>Precio aproximado: Desde $150 - $300 por sesión.</li>
          </ul>
          <li class="h5 fw-bold">Servicios Especializados:</li>
          <ul>
            <li>Limpieza de alfombras, tapicería u otras superficies.</li>
            <li>Limpieza de áreas específicas según requerimiento.</li>
            <li>Precio variable según el alcance del servicio.</li>
          </ul>
        </ul>
        <div class="text-center">
          <a href="#" class="buy-btn">Contrata Ahora</a>
        </div>
      </div>
    </div>
    <!-- End Pricing Item -->

    <div class="col-lg-4">
      <div class="pricing-item">
        <h2 class="fw-bold">Plan de Limpieza para Hospedajes</h2>
        <div class="icon">
          <i class="bi bi-send"></i>
        </div>
        <h4>
          <span> / desde </span><sup>$</sup>20<span> / por habitación</span>
        </h4>
        <ul>
          <li class="h5 fw-bold">Limpieza Básica de Habitaciones:</li>
          <ul>
            <li>Cambio de ropa de cama y toallas.</li>
            <li>Limpieza de superficies y aspirado.</li>
            <li>Reposición de artículos esenciales.</li>
            <li>Precio aproximado: Desde $20 - $40 por habitación.</li>
          </ul>
          <li class="h5 fw-bold">Limpieza Profunda de Habitaciones:</li>
          <ul>
            <li>Limpieza exhaustiva y detallada.</li>
            <li>Desinfección de áreas sensibles.</li>
            <li>Limpieza de ventanas y espejos.</li>
            <li>Precio aproximado: Desde $40 - $60 por habitación.</li>
          </ul>
          <li class="h5 fw-bold">Servicios Especiales para Áreas Comunes:</li>
          <ul>
            <li>Limpieza de áreas de recepción, salas y pasillos.</li>
            <li>Limpieza de áreas de descanso y restaurantes.</li>
            <li>Precio variable según el alcance del servicio.</li>
          </ul>
        </ul>
        <div class="text-center">
          <a href="#" class="buy-btn">Contrata Ahora</a>
        </div>
      </div>
    </div>
    <!-- End Pricing Item -->
  </div>
</div>
