<!--  Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Servicios</h2>
  <p>
    Confía en nosotros para mantener tu establecimiento en su mejor estado, ya
    sea que estés recibiendo huéspedes en tu hotel, comensales en tu restaurante
    o simplemente deseando disfrutar de un hogar limpio y relajante.
  </p>
</div>
<!-- End Section Title -->

<div class="container">
  <div class="row gy-4">
    <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0">
          <i class="bi bi-briefcase"></i>
        </div>
        <div>
          <h4 class="title ">
            <a href="#services" class="stretched-link">Hoteles Brillantes</a>
          </h4>
          <p class="description">
            Sabemos que cada detalle cuenta en la industria hotelera. Nuestro
            equipo experto realiza limpiezas profundas y detalladas para
            asegurar que tus huéspedes se sientan bienvenidos desde el momento
            en que cruzan la puerta
          </p>
        </div>
      </div>
    </div>
    <!-- End Service Item -->

    <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0">
          <i class="bi bi-card-checklist"></i>
        </div>
        <div>
          <h4 class="title">
            <a href="#services" class="stretched-link"
              >Departamentos que Destacan</a
            >
          </h4>
          <p class="description">
            Mantén tus departamentos en su mejor estado con nuestra limpieza
            personalizada. Brindamos un ambiente fresco y reluciente para que
            tus inquilinos se sientan como en casa.
          </p>
        </div>
      </div>
    </div>
    <!-- End Service Item -->

    <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0">
          <i class="bi bi-bar-chart"></i>
        </div>
        <div>
          <h4 class="title">
            <a href="#services" class="stretched-link">Casas Acogedoras</a>
          </h4>
          <p class="description">
            Las casas son refugios personales y familiares. Nuestros servicios
            de limpieza transforman cada rincón en un espacio limpio y ordenado,
            para que puedas disfrutar de momentos especiales sin preocupaciones
          </p>
        </div>
      </div>
    </div>
    <!-- End Service Item -->

    <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0">
          <i class="bi bi-binoculars"></i>
        </div>
        <div>
          <h4 class="title">
            <a href="#services" class="stretched-link"
              >Restaurantes Impecables</a
            >
          </h4>
          <p class="description">
            La higiene es fundamental en la industria de la restauración.
            Nuestro equipo garantiza que tus áreas de preparación y comedor
            estén limpias y listas para recibir a tus comensales.
          </p>
        </div>
      </div>
    </div>
    <!-- End Service Item -->

    <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0">
          <i class="bi bi-brightness-high"></i>
        </div>
        <div>
          <h4 class="title">
            <a href="#services" class="stretched-link">Soluciones Ecológicas</a>
          </h4>
          <p class="description">
            Nos enorgullecemos de cuidar tanto a tu negocio como al planeta.
            Utilizamos productos de limpieza ecológicos que son seguros para tus
            clientes y el medio ambiente
          </p>
        </div>
      </div>
    </div>
    <!-- End Service Item -->

    <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
      <div class="service-item d-flex">
        <div class="icon flex-shrink-0">
          <i class="bi bi-calendar4-week"></i>
        </div>
        <div>
          <h4 class="title">
            <a href="#services" class="stretched-link"
              >Flexibilidad y Profesionalismo</a
            >
          </h4>
          <p class="description">
            Adaptamos nuestros servicios a tus necesidades y horarios. Nuestra
            atención meticulosa y nuestro personal confiable te brindan
            tranquilidad en cada servicio.
          </p>
        </div>
      </div>
    </div>
    <!-- End Service Item -->
  </div>
</div>
