<!--  Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Equipo</h2>
  <p>
    Conoce a Nuestro Equipo de Profesionales de "Limpiando Todo": Tu Socio en la
    Limpieza y Frescura
  </p>
</div>
<!-- End Section Title -->

<div class="container">
  <div class="row gy-5">
    <div
      class="col-lg-4 col-md-6 member"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="member-info text-center">
        <span>Líder Visionario</span>
        <p>
          Nuestro líder fundador tiene una visión clara de lo que significa
          excelencia en limpieza. Con años de experiencia en la industria,
          lidera nuestro equipo hacia la innovación constante y los más altos
          estándares
        </p>
      </div>
    </div>
    <!-- End Team Member -->

    <div
      class="col-lg-4 col-md-6 member"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="member-info text-center">
        <span>Especialistas en Limpieza</span>
        <p>
          Nuestros especialistas son los magos detrás de la limpieza profunda y
          detallada. Desde la pulcritud de los hoteles hasta la frescura de los
          hogares, su experiencia garantiza un ambiente saludable y reluciente
        </p>
      </div>
    </div>
    <!-- End Team Member -->

    <div
      class="col-lg-4 col-md-6 member"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      <div class="member-info text-center">
        <span>Gurús Ecológicos</span>
        <p>
          La sostenibilidad es nuestro compromiso. Nuestros expertos en limpieza
          ecológica utilizan métodos y productos respetuosos con el medio
          ambiente, creando un entorno limpio y seguro para todos
        </p>
      </div>
    </div>
    <!-- End Team Member -->

    <div
      class="col-lg-4 col-md-6 member"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      <div class="member-info text-center">
        <span>Coordinadores de Servicio</span>
        <p>
          Nuestros coordinadores mantienen todo en marcha sin problemas. Desde
          programaciones hasta logística, aseguran que cada servicio se ejecute
          con precisión y puntualidad.
        </p>
      </div>
    </div>
    <!-- End Team Member -->

    <div
      class="col-lg-4 col-md-6 member"
      data-aos="fade-up"
      data-aos-delay="500"
    >
      <div class="member-info text-center">
        <span>Comunicadores Conectados</span>
        <p>
          La comunicación es clave para una colaboración exitosa. Nuestros
          comunicadores aseguran que estemos en sintonía contigo, para
          personalizar cada servicio de acuerdo a tus necesidades.
        </p>
      </div>
    </div>
    <!-- End Team Member -->

    <div
      class="col-lg-4 col-md-6 member"
      data-aos="fade-up"
      data-aos-delay="600"
    >
      <div class="member-info text-center">
        <span>Maestros del Detalle</span>
        <p>
          La diferencia está en los detalles. Nuestros maestros del detalle
          aseguran que cada rincón, superficie y elemento se trate con la
          atención que merece.
        </p>
      </div>
    </div>
    <!-- End Team Member -->
  </div>
</div>
