<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
      <h3>Testimonios</h3>
      <p>
        Las experiencias de nuestros clientes hablan por sí mismas. Estamos
        orgullosos de compartir los testimonios reales de aquellos que han
        experimentado la transformación que ofrecemos en 'Limpiando Todo'. Sus
        palabras reflejan nuestro compromiso con la excelencia y la satisfacción
        del cliente.
      </p>
    </div>

    <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
      <div class="swiper">
        <template class="swiper-config">
          { "loop": true, "speed" : 600, "autoplay": { "delay": 5000 },
          "slidesPerView": "auto", "pagination": { "el": ".swiper-pagination",
          "type": "bullets", "clickable": true } }
        </template>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="d-flex">
                <img
                  src="static/img/testimonials/testimonials-1.jpg"
                  class="testimonial-img flex-shrink-0"
                  alt=""
                />
                <div>
                  <h3>Saul Goodman</h3>

                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >"¡Increíble! Nuestra casa nunca había estado tan limpia y
                  fresca. El equipo de 'Limpiando Todo' superó mis expectativas
                  y creó un ambiente acogedor que todos notaron. ¡Gracias por su
                  profesionalismo y atención a los detalles!"</span
                >
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="d-flex">
                <img
                  src="static/img/testimonials/testimonials-2.jpg"
                  class="testimonial-img flex-shrink-0"
                  alt=""
                />
                <div>
                  <h3>Sara Wilsson</h3>

                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >"Como dueña de un restaurante, la higiene es primordial.
                  'Limpiando Todo' no solo mantuvo nuestro espacio impecable,
                  sino que también nos sorprendió con su enfoque ecológico. Sus
                  especialistas son confiables y hacen que todo brille."
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="d-flex">
                <img
                  src="static/img/testimonials/testimonials-3.jpg"
                  class="testimonial-img flex-shrink-0"
                  alt=""
                />
                <div>
                  <h3>Jena Karlis</h3>

                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >"Mi apartamento nunca había estado tan limpio. La limpieza
                  profunda de 'Limpiando Todo' es impresionante. Cada rincón
                  estaba reluciente y me encantó volver a un hogar tan pulcro.
                  Definitivamente, ¡los recomendaré!"
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="d-flex">
                <img
                  src="static/img/testimonials/testimonials-4.jpg"
                  class="testimonial-img flex-shrink-0"
                  alt=""
                />
                <div>
                  <h3>Matt Brandon</h3>

                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >"El equipo de 'Limpiando Todo' fue un salvavidas.
                  Necesitábamos una limpieza urgente después de un evento y no
                  podríamos estar más satisfechos con los resultados. El lugar
                  parecía nuevo y oliendo fresco. ¡Los llamaré de nuevo!"
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="d-flex">
                <img
                  src="static/img/testimonials/testimonials-5.jpg"
                  class="testimonial-img flex-shrink-0"
                  alt=""
                />
                <div>
                  <h3>John Larson</h3>

                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span
                  >"Nuestro hotel ha experimentado un aumento en las
                  calificaciones desde que comenzamos a trabajar con 'Limpiando
                  Todo'. Los huéspedes notan la limpieza y se sienten más
                  cómodos. Su enfoque personalizado y profesionalismo son
                  inigualables en la industria."
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
