<!-- Hero Section - Home Page -->
<section id="hero" class="hero">
  {% include "secciones_principal/home.html" %}
</section>
<!-- End Hero Section -->

<!-- About Section - Home Page -->
<section id="about" class="about">
  {% include "secciones_principal/about.html" %}
</section>
<!-- End About Section -->

<!-- Stats Section - Home Page -->
<section id="stats" class="stats">
  {% include "secciones_principal/stats.html" %}
</section>
<!-- End Stats Section -->
<!-- listado precios Section - Home Page -->
<section id="precios" class="testimonials">
  {% include "secciones_principal/precios.html" %}
</section>
<!-- End listado precios Section -->

<!-- Services Section - Home Page -->
<section id="services" class="services">
  {% include "secciones_principal/services.html" %}
</section>
<!-- End Services Section -->

<!-- Portfolio Section - Home Page -->
<section id="portfolio" class="portfolio">
  {% include "secciones_principal/portfolio.html" %}
</section>
<!-- End Portfolio Section -->

<!-- Pricing Section - Home Page -->
<section id="pricing" class="pricing"></section>
<!-- End Pricing Section -->

<!-- Team Section - Home Page -->
<section id="team" class="team">
  {% include "secciones_principal/team.html" %}
</section>
<!-- End Team Section -->

<!-- Call-to-action Section - Home Page -->
<section id="call-to-action" class="call-to-action">
  {% include "secciones_principal/call-to-action.html" %}
</section>
<!-- End Call-to-action Section -->

<!-- Testimonials Section - Home Page -->
<section id="testimonials" class="testimonials">
  {% include "secciones_principal/testimonials.html" %}
</section>
<!-- End Testimonials Section -->

<!-- Contact Section - Home Page -->
<section id="contact" class="contact">
  {% include "secciones_principal/contact.html" %}
</section>
<!-- End Contact Section -->
