<div class="container footer-top">
  <div class="row gy-4">
    <div class="col-lg-5 col-md-12 footer-about">
      <a href="index.html" class="logo d-flex align-items-center">
        <span>Limpiando Todo</span>
      </a>
      <p>
        En Limpiando Todo, llevamos la limpieza a otro nivel, porque sabemos que
        un espacio limpio es un espacio donde las experiencias florecen.
      </p>
      <div class="social-links d-flex mt-4">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <div class="col-lg-2 col-6 footer-links">
      <h4>Nuestros Servicios</h4>
      <ul>
        <li><a href="#services">Hoteles Brillantes:</a></li>
        <li><a href="#services">Departamentos que Destacan:</a></li>
        <li><a href="#services">Casas Acogedoras:</a></li>
        <li><a href="#services">Restaurantes Impecables</a></li>
        <li><a href="#services">Flexibilidad y Profesionalismo</a></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
      <h4>Contacto físico</h4>
      <p>Av. Grecia 7345 - oficina 2</p>
      <p>Peñalolen</p>
      <p>Chile</p>
      <p class="mt-4"><strong>Phone:</strong> <span>+56 940736538</span></p>
      <p><strong>Email:</strong> <span>limpiandotodo@gmai.com</span></p>
    </div>
  </div>
</div>

<div class="container copyright text-center mt-4">
  <p>
    &copy; <span>Copyright</span>
    <strong class="px-1">Limpiando Todo</strong>
    <span>Todos los derechos reservados</span> || desarrollado por
    <strong class="px-1"
      ><a
        href="http://www.emersonespinoza.com"
        target="_blank"
        rel="noopener noreferrer"
        >Compilando</a
      ></strong
    >
  </p>
</div>
