<div class="container-fluid d-flex align-items-center justify-content-between">
  <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
    <!-- Uncomment the line below if you also wish to use an image logo -->
    <!-- <img src="static/img/logo.png" alt=""> -->
    <!-- <h1>Limpiando Todo</h1> -->
    <img
      src="./static/img/logos/logo_limpiandotodo_horizontal.png"
      alt="logotipo de limpiando todo"
      title="logo limpiando todo"
      width="155"
    />
  </a>

  <!-- Nav Menu -->
  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="/" class="active">Inicio</a></li>
      <li><a href="#about">Nosotros</a></li>
      <li><a href="#services">Servicios</a></li>
      <li><a href="#portfolio">Clientes</a></li>
      <li><a href="#precios">Listado Precios</a></li>
      <li><a href="#team">Equipo</a></li>

      <li><a href="#contact">Contacto</a></li>
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>
  <!-- End Nav Menu -->

  <a class="btn-getstarted" href="#about">Empezemos</a>
</div>
